# File di sistema
.DS_Store
.vscode/

# File di profiling e debug
CODE/callgrind.*
CODE/massif.*

# Eseguibili
CODE/main
CODE/a.out
CODE/DA ELIMINARE
a.out

# File di output
CODE/out.txt
out.txt

# Cartelle di debug
CODE/main.dSYM/
CODE/a.out.dSYM/
CODE/DA ELIMINARE.dSYM/

# Cartelle di test e strumenti
CODE/Casi-Test/
INSTRUMENTS/
Generatore casi test/
Codici-Prova/

# Documentazione e materiali del corso
Testi/

# File di sviluppo temporanei
Testi/Ambiente di Sviluppo/esempi/collezione_bug.c
Testi/Ambiente di Sviluppo/esempi/simple.c
Testi/Ambiente di Sviluppo/esempi/Makefile
