CODE/DA ELIMINARE.dSYM/Contents/Resources/DWARF/DA ELIMINARE
CODE/DA ELIMINARE.dSYM/Contents/Resources/Relocations/aarch64/DA ELIMINARE.yml
Testi/.DS_Store
Testi/Ambiente di Sviluppo/.DS_Store
Testi/Ambiente di Sviluppo/esempi/collezione_bug.c
Testi/Ambiente di Sviluppo/esempi/simple.c
CODE/DA ELIMINARE.dSYM/Contents/Info.plist
CODE/DA ELIMINARE
.vscode/tasks.json
.DS_Store
.vscode/launch.json
CODE/main
CODE/main.dSYM/Contents/Info.plist
CODE/main.dSYM/Contents/Resources/DWARF/main
CODE/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Testi/Ambiente di Sviluppo/esempi/Makefile
CODE/out.txt
CODE/a.out
CODE/a.out.dSWYM
INSTRUMENTS